.card{
    width: 30%;
    background-color: #eff4ff ;
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
    display: flex;
    justify-content: center;
}

.card a{
    text-decoration: none;
}

.card p {
    text-align: center;
}

.card img{
    display: flex;
    justify-self: center;
    margin-bottom: 5px;
}