.country-name{
    text-align: center;
}
.country-attr>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 40px auto;
    margin-bottom: 40px;
    max-width: 75%;
}

.country-attr .fw-bold{
    padding-bottom: 5px;
}

