.footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

.footer a{
    text-decoration: none;
}

.footer .hearts{
    color: #ee1111;
}