.search-container {
    display: flex;
    margin: auto;
    width: 95%;
    margin-bottom: 20px;
}

.search-container input {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-right: 0;
}

.search-container button{
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 10px;
    background-color: #eeeeee;

}

.search-container input:focus {
    outline: 0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}